*{
    margin: 0px;
    padding: 0px;
}
body{

    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;

}
.container{
    
    width: auto;

}
.nav-1{
    background-color:#573073;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1000px;
    
}
.date-1{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 40px;
    font-size: 18px;

}
.icon-1 a{
    padding-top: 30px;
    padding-bottom: 5px;
    font-weight: 200;
    font-size: 18px;
    color: white;
    vertical-align: middle;
    
}
.nav-2{
    display: flex;
    background-color: #083F80;
    height: 100px;  

}
.nav-2 ul{
    width: 800px;
    margin: auto;
    padding-left: 340px;
   
}
.nav-2 ul a {
    font-size: 17px;
    padding-right: 10px;
    color: white;
    list-style: none;
    text-decoration: none;    
    display: inline-block;
    text-align: center;

}
.navbarbar {
    overflow: hidden;
    background-color:#573073;
    vertical-align: middle;
    height: 44px;
    padding-left: 35px;
    
  }
  .navbarbar a {
    
    float: left;
  
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #222222;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover {
    background-color: black;
    color: white;
  }
  section{
    margin: 0px;
    padding: 0px;
    background-color: #F2F1EB;
  }
  .cards{
    padding: 20px 40px 20px 40px;
    max-width: fit-content;
    max-height: max-content;
    display: flex;
    gap: 20px;
    text-align: center;
  }

.card-1{
  width: 330px;
  background-color: #fff;
  color: #333333;
  padding: 10px;
  
  border: 1px #d8d8d8 solid;
  
}
.card-2{
  width: 330px;
  background-color: #fff;
  color: #333333;
  padding: 10px;
  
  border: 1px #d8d8d8 solid;
  
}
.card-3{
  width: 330px;
  background-color: #fff;
  color: #333333;
  padding: 10px;
 
  border: 1px #d8d8d8 solid;
}
.card-4{
  width: 330px;
  background-color: #fff;
  color: #333333;
  padding: 10px;
 
  border: 1px #d8d8d8 solid;
  
}
.cards h3{
  font-size: 20px;

}
.imag-1{
  max-width: 100%;
  border: solid 4px #FFFFFF;
}
  .cards p{
    font-family: inherit;
    font-size: 17px;
    
  }
  .cards button{
    width: 100%;
    margin-top: 10px;
    padding: 14px 0px 14px 0px;
    cursor: pointer;
    background-color:#573073;
    color: white;
    font-size: 17px;
    border: none;
  }
  .cards img{
    border-radius: 22px;
  }
  .cards img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .cards-2{
    width: 100%;
    display: flex;
    max-width: fit-content;
    max-height: max-content;
    text-align: center;
    gap: 5px;
    border-top: 2px solid #d8d8d8;
    
    
  }
  .card-1-1{
    margin: 20px 40px 40px 40px;
     width: 33%;
    background-color: #fff;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px ;

  }
  .card-1-1 h3 {
    font-size: 30px;
    padding-top: 8px;
    color: #333333;
  }
  .card-1-1 button{
    width: 100%;
    padding: 10px 0px 14px 0px;
    
    cursor: pointer;
    background-color:#573073;
    color: white;
    font-size: 17px;
    border: none;

  }
  .card-1-1 img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .card-1-1 button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .main {
      text-align:center;
      font-family: inherit;
      
  }
 marquee{
  background-color: #d8d8d8;
  
 }
      
 
  marquee p {
      
      
    text-shadow: 2px 2px 5px red;
    background-color: #FBC02D;
      text-align:justify;
  }
  date {
    font-size: 10px;
    color: white;
      text-align:center;
  }
  marquee button{
    button {
      width: 100%;
      padding: 10px 0px 14px 0px;
      cursor: pointer;
      background-color: #573073;
      color: white;
      font-size: 17px;
      border: none;
      
  }
